<ng-container [formGroup]="formGroup">
    <mat-form-field class="max-width" appearance="legacy">
        <mat-label>{{widget.caption}}</mat-label>
            <mat-select matNativeControl [formControlName]="widget.attribute_alias" (ngModelChange)="onChange($event)" (keyup)="onKeyUp($event)">
            <mat-option *ngFor="let option of widget.selectable_options | keyvalue" [value]="option.key">{{option.value}}</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError()">
                <div *ngFor="let error of getTranslatedErrors()">{{error}}</div>
            </mat-error>
    </mat-form-field>
</ng-container>