<ng-container [formGroup]="formGroup">
    <mat-form-field class="full-width" appearance="legacy">
        <mat-label>{{widget.caption}}</mat-label>
        <textarea   matInput 
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="10"
                [formControlName]="widget.attribute_alias"></textarea>
        <mat-error *ngIf="hasError()">
            <div *ngFor="let error of getTranslatedErrors()">{{error}}</div>
        </mat-error>
    </mat-form-field>
</ng-container>