<app-loading-screen></app-loading-screen>
<div class="toolbar">
    <mat-toolbar color="primary" >
        <button mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 *ngIf="shell">{{shell.top_bar.caption}}</h1>
    </mat-toolbar>
</div>
<br>
<br>
<div class="content">
    <mat-drawer-container class="container">
        <router-outlet></router-outlet>
        <mat-drawer #drawer class="drawer" mode="side">
            <app-container *ngIf="shell" [widget]="shell.navigation_drawer"></app-container>
        </mat-drawer>
    </mat-drawer-container>
</div>