mat-toolbar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 56px;
    z-index: 2;
}

.drawer {
    min-width: 200px;
}

.shell-button {
    display: block;
}