<h1 mat-dialog-title>
    <mat-icon *ngIf="data.structure.show_icon" fontSet="{{data.structure.icon_set}}" fontIcon="{{data.structure.icon_class}}"></mat-icon>
    {{data.structure.caption}}
</h1>
<mat-dialog-content [ngClass]="{'mat-dialog-heigh': hasTabs(data.structure) ,'mat-dialog-wide': data.structure.columns_in_grid > 1, 'mat-dialog-narrow': data.structure.columns_in_grid === 1  }">
    <app-widget *ngIf="data" [structure]="data.structure" [pageSelector]="data.pageSelector" [formGroup]="formGroup"></app-widget>
</mat-dialog-content>
<div mat-dialog-actions class="dialogbuttons" >
    <app-button *ngFor="let button of data.structure.buttons" [formGroup]="formGroup" [widget]="button" [pageSelector]="data.pageSelector" (widgetEvent)="onWidgetEvent($event)" type="Flat"></app-button>
</div>