.dialogbuttons {
   float: right;
}

.dialog-button-icon {
    vertical-align: inherit;
    width: unset;
    padding-right: 6px;
}

.mat-button {
    margin-right: 3px;
}

.mat-form-field + .mat-form-field {
    margin-left: 1em;
}


