.dialogbuttons {
   float: right;
}

.mat-form-field + .mat-form-field {
    margin-left: 1em;
}

.mat-dialog-heigh {
    height: 65vh;
}

.mat-dialog-wide {
    width: 75vw;
}

.mat-dialog-narrow {
    width: 50vw;
}

.messagebox {
    background-color: red;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    opacity: 0.75;
}


