<h1 mat-dialog-title>
    <mat-icon *ngIf="data.structure.icon" fontSet="fa" fontIcon="fa-{{data.structure.icon}}"></mat-icon>
    {{data.structure.caption}}
</h1>
<mat-dialog-content>
    <app-widget *ngIf="data" [structure]="data.structure" [pageSelector]="data.pageSelector" [formGroup]="formGroup"></app-widget>
</mat-dialog-content>
<div mat-dialog-actions class="dialogbuttons" >
    <app-button *ngFor="let button of data.structure.buttons" [formGroup]="formGroup" [widget]="button" [pageSelector]="data.pageSelector" (widgetEvent)="onWidgetEvent($event)"></app-button>
</div>