<h1 mat-dialog-title>
    <mat-icon *ngIf="data.structure.icon" fontSet="fa" fontIcon="fa-{{data.structure.icon}}"></mat-icon>
    {{data.structure.caption}}
</h1>
<mat-dialog-content>
    <app-widget *ngIf="data" [structure]="data.structure" [pageSelector]="data.pageSelector" [formGroup]="formGroup"></app-widget>
</mat-dialog-content>
    
<div mat-dialog-actions class="dialogbuttons" >
    <ng-container *ngFor="let button of data.structure.buttons">
        <button *ngIf="button.visibility > 50" mat-flat-button (click)="onClick(button)" color="primary">
            <mat-icon class="dialog-button-icon" *ngIf="button.icon" fontSet="fa" fontIcon="fa-{{button.icon}}"></mat-icon>
            {{button.caption}}
        </button>
        <button *ngIf="button.visibility <= 50" mat-flat-button (click)="onClick(button)">
            <mat-icon class="dialog-button-icon" *ngIf="button.icon" fontSet="fa" fontIcon="fa-{{button.icon}}"></mat-icon>
            {{button.caption}}
        </button>
    </ng-container>
</div>