<ng-container *ngIf="iconOnly">
    <button mat-mini-fab class="fab-secondary" color="secondary" (click)="onClick()">
        <mat-icon *ngIf="widget.icon" fontSet="fa" fontIcon="fa-{{widget.icon}}"></mat-icon>
    </button>
</ng-container>

<ng-container *ngIf="!iconOnly">
    <button *ngIf="widget.visibility > 50" mat-flat-button (click)="onClick()" color="primary">
        <mat-icon class="dialog-button-icon" *ngIf="widget.icon" fontSet="fa" fontIcon="fa-{{widget.icon}}"></mat-icon>
        {{widget.caption}}
    </button>
    <button *ngIf="widget.visibility <= 50" mat-flat-button (click)="onClick()">
        <mat-icon class="dialog-button-icon" *ngIf="widget.icon" fontSet="fa" fontIcon="fa-{{widget.icon}}"></mat-icon>
        {{widget.caption}}
    </button>
</ng-container>