.tile{ 
    height: 65px; 
    cursor: pointer;
    width: 100%;
    display: block;

}

.grid-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 20em);
  
}
@media (min-width: 25em) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(15em, 20em));
  }
}

.caption{
  margin-left: 3em;
}
