.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

mat-table {
  overflow: auto;
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
        white-space: nowrap;
    color: rgba(0,0,0,.54);
    min-width: 105px;
  }

  mat-header-row {
    display: none;
  }

  mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    min-height: unset;
  }
  mat-cell {
    min-height: unset;
    padding: 0 !important;
  }

}