.masonrycss {
    column-count: 1;
    display: grid;
}
.item1 {
    display: inline-block;
    margin: 0 6px 0 0;
    width: 100%;
}

.item2 {
    display: inline-block;
    margin: 0 6px 0 0;
    width: calc(100% / 2 - 6px);
}

.item3 {
    display: inline-block;
    margin: 0 6px 0 0;
    width: calc(100% / 3 - 6px);
}

.item--width--full {
    width: calc(100% - 6px);
}

