<h2 mat-dialog-title>Zeile Bearbeiten</h2>
  
<mat-dialog-content >
  
    <mat-form-field>
        <mat-label>Type</mat-label>
        <input matInput [(ngModel)]="data.TYPE" type="text">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>App Alias</mat-label>
        <input matInput [(ngModel)]="data.APP__ALIAS"  type="text">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Message Code</mat-label>
        <input matInput [(ngModel)]="data.CODE" type="text">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="data.TITLE" type="text">
      </mat-form-field>

</mat-dialog-content>
    
<div mat-dialog-actions class="dialogbuttons" >
    <button class="mat-button"(click)="close()">Abbrechen</button>
    <button class="mat-raised-button" (click)="saved()" [mat-dialog-close]="data">Speichern</button>
</div>