table {
  width: 100%;
}

.table-filters .mat-button-base {
  float: right;
}

.table-filters .filter {
  float: left;
  padding-right: 1em;
}

/* input color class */
::ng-deep input.mat-input-element {
  color: #fff;
}
/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #fb5050 !important;
}
/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #fb5050 !important;
}

.searchbutton{
  margin-left: 6px;
}

.addbutton{
  background-color: green;
}

