table {
  width: 100%;
}

.table-filters .mat-button-base {
  float: right;
}

.table-filters .filter {
  float: left;
  padding-right: 1em;
}

.searchbutton{
  margin-left: 6px;
}

.addbutton{
  background-color: green;
}
