<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title style="margin-top: 6px;">
        Tabelle
      </mat-panel-title>
      <mat-chip-list #chipList aria-label="filter selection" style="margin-right: 15px">
        <mat-chip *ngFor="let filterChip of filterChips" [selectable]="selectable"
          [removable]="removable" (removed)="removeChip(filterChip)">
            {{filterChip.name}}: {{filterChip.value}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-expansion-panel-header>
    <div class="table-filters">

    <div *ngFor="let column of widget.filters" class="filter">
      <app-filter [widget]="column" [filter]="filter"></app-filter>                                     
    </div>
    <button mat-raised-button class="searchbutton" (click)="onRefresh()" aria-label="search icon button" matTooltip="Filter Anwenden">
      <mat-icon>search</mat-icon>
    </button>

    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container *ngFor="let column of widget.columns" [matColumnDef]="column.data_column_name" class="mask rgba-black-light">
    <mat-header-cell mat-sort-header *cdkHeaderCellDef>{{ column.caption }}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row[column.data_column_name] }}</mat-cell>
  </ng-container>
  <ng-container [cdkColumnDef]="'_actions_'">  
    <mat-header-cell class="headercell" *cdkHeaderCellDef>Bearbeiten</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="widget.paginator.page_size" [pageSizeOptions]="widget.paginator.page_sizes" [length]="response.recordsTotal" [pageIndex]="pager.pageIndex" showFirstLastButtons (page)="onPaginate($event)"></mat-paginator>